section.can
  background-color dark-white
  display flex
  align-items center
  justify-content center
  .skills-table
    center(70%)
    min-width 960px
    animation fadeInRight .4s .2s
    color dark-white
  .header
    width 100%
    height 80px
    background-color darkest-grey
    margin-bottom 5px
    display flex
    align-items center
    justify-content center
  label,
  input,
  span.question
    display inline-block
  label
    font-size fontSize-largest
    font-family type-raleway--regular
  input
    appearance none
    border-radius 0
    width 40%
    min-width 190px
    outline 0
    border none
    padding 10px 7px
    font-family type-raleway--regular
    font-size fontSize-small
    color dark-white
    background-color darkest-grey
    border-bottom 1px solid light-grey
    text-align center
    transition-duration .2s
    margin 0 rem(20px) 0 rem(20px)
    &:hover,
    &:focus
      background-color lighten(darkest-grey, 10%)
  span.question
    font-size fontSize-largest
    font-family type-raleway--regular
  .content
    font-family type-raleway--regular
    width 100%
    height 500px
    background-color m-grey
    padding 20px
  li.family
    col(1/3, cycle: 3)
    margin-bottom 20px
  a
    cursor pointer
    transition-duration .4s
    &:hover
      color dark-grey
  ul.skills
    list-style-type square
    font-size fontsize-small
    li
      margin-bottom 3px
      margin-left 20px
  a.back
    position absolute
    top 20px
    right 20px
    i
      padding-right 5px
    span
      font-size fontSize-base
  .skill-level
    width 100%
    height 100%
    margin-top 40px
  p.hint
    font-family type-raleway--thin
    font-size fontSize-smaller
    position absolute
    bottom 20px
    right 20px
    color darkest-grey
  span.level
    font-size fontSize-smallest
    margin 0 rem(5px)
  span.number
    font-size fontSize-largest
  .skill-content
    width 100%
  li.level
    col(1/10)
    height 0
    padding-bottom 7.3%
    background-color rgba(m-white, .8)
    &.uncompleted
      background-color rgba(m-white, .4)
      svg
        opacity 0
    &:last-child
      margin-right 0
    span
      font-size fontSize-smallest
      display block
      margin-top rem(10px)
@media mobile
  section.can
    height auto
    .skills-table
      margin-top 15%
      min-width 75%
      center(75%)
    .header
      height 50px
    .content
      height auto
    label,
    input,
    span.question
      display block
    label
      font-size fontSize-base
    span.question
      font-size fontSize-base
    input
      min-width 60%
      padding 7px 3px
      margin 0 3px
    ul.skills
      font-size fontSize-base
      cf()
    li.family
      col(1, cycle: 1)
    ul
      cf()
