section.home
  width 100vw
  height 100vh
  margin 0
  background-color darkest-grey
  overflow hidden
  opacity 1
  video
    position fixed
    top 0
    left 0
    min-width auto
    min-height 100vh
    animation fadeIn 3s 1s
  svg
    position relative
    center(75%)
    margin-bottom rem(50px)
  .text
    animation fadeIn 1s 1.5s
    color m-grey
  h2
    font-size fontSize-smaller
    margin-bottom 0
  .u-bold
    margin-right 10px
@media mobile
  section.home
    svg
      center(45%)
    .text
      color yellow
@media tablet
  section.home
    .text
      color red
//@media xdesktop
//  section.home
//    .text
//      color green
//@media desktop
//  section.home
//    .text
//      color blue
//@media xxdesktop
//  section.home
//    .text
//      color white
