section.home
  width 100vw
  height 100vh
  margin 0
  background-color darkest-grey
  overflow hidden
  opacity 1
  video
    position fixed
    top 0
    left 0
    min-width auto
    min-height 100vh
    animation fadeIn 3s 1s
  svg
    position relative
    center(75%)
    margin-bottom rem(50px)
  .text
    animation fadeIn 1s 1.5s
    color m-grey
  h2
    font-size fontSize-smaller
    margin-bottom 0
  .u-bold
    margin-right 10px
@media screen and (min-width: small-min) and (max-width: small-max)
  section.home
    .text
      color yellow
@media only screen and (min-width: medium-min) and (max-width: medium-max)
  section.home
    .text
      color red
@media only screen and (min-width: large-min) and (max-width: large-max)
  section.home
    .text
      color green
@media only screen and (min-width: xlarge-min) and (max-width: xlarge-max)
  section.home
    .text
      color blue
@media only screen and (min-width: xxlarge-min)
  section.home
    .text
      color white
