section.me
  padding 0 60px
  background-color dark-white
  .image,
  .text
    col(1/2)
    height 100%
  .image
    background-image url("/images/manfred-background.png")
    background-size 35%
    background-position center bottom
    background-repeat no-repeat
  .text
    display flex
    align-items center
    justify-content center
  .content
    margin-top 36%

