section.me
  padding 0 60px
  background-color dark-white
  figure,
  .text
    height 100%
  figure
    background-image url("/images/manfred-background.png")
    background-size 70%
    background-position right bottom
    background-repeat no-repeat
    col(1/4)
  .text
    display flex
    align-items center
    justify-content center
    col(3/4)
    figure
      display none
  .content
    width 75%
@media mobile-tablet
  section.me
    padding 0 50px
    h2
      margin-bottom rem(30px)
@media mobile-tablet-portrait
  section.me
    figure
      display none
    .content
      margin-top 20%
    .text
      display inline-block
      width 100% !important
      figure
        width 100%
        margin-top 15%
        display block
        background-position center top
        background-size 68%
@media mobile-tablet-landscape
  section.me
    figure
      col(1/4)
      background-size 80%
    .text
      col(3/4)
