section.me
  padding 0 60px
  background-color dark-white
  figure,
  .text
    col(1/2)
    height 100%
  figure
    background-image url("/images/manfred-background.png")
    background-size 35%
    background-position center bottom
    background-repeat no-repeat
  .text
    display flex
    align-items center
    justify-content center
    figure
      display none
  .content
    margin-top 25%
@media mobile
  section.me
    padding 0 45px
    .content
      margin-top 20%
    h2
      margin-bottom rem(30px)
@media mobile-portrait
  section.me
    figure
      display none
    .text
      display inline-block
      col(1)
      figure
        width 100%
        margin-top 15%
        display block
        background-position center top
        background-size 68%
@media mobile-landscape
  section.me
    figure
      col(1/4)
      background-size 80%
    .text
      col(3/4)
    .content
      margin-top 0
