section
  margin 6px
  overflow hidden
  width calc(100vw - 12px)
  height calc(100vh - 12px)
  opacity 0
  &.active
    animation fadeIn .3s .1s
.frame
  width 100vw
  height 100vh
  ul.pages
    li.page
      float left
