section.work
  background-color dark-white
  .u-centered-content
    height 100%
  .text
    center(35%)
  p.sub-section
    margin-bottom rem(25px)
    letter-spacing letterSpacing-larger
    cf()
  h4
    margin-bottom rem(10px)
  p.description
    margin-bottom rem(30px)
    &.last
      margin-bottom 0
  span.com
    cursor default
  span.com,
  a
    text-decoration none
    position relative
    &:after
      content ''
      position absolute
      top 100%
      left 0
      width 100%
      height 2px
      background light-grey
      opacity 0
      transition opacity .3s, transform .3s
      transition-property opacity, transform
      transition-duration .3s, .3s
      transform translateY(5px)
    &:hover:after,
    &:focus:after
      opacity 1
      transform translateY(0px)
  span:not(.com)
    margin-left 5px
    display inline-block
@media mobile
  section.work
    h4
      margin-bottom rem(7px)
    p.description
      margin-bottom rem(20px)
@media mobile-tablet
  section.work
    height auto
    min-height calc(100vh - 12px)
    .text
      margin-top rem(50px)
      center(70%)
      height auto
      margin-bottom rem(25px)
@media mobile-landscape
  section.work
    .text
      center(80%)
      margin-top rem(40px)
    h2
      margin-bottom rem(20px)
    p.sub-section
      margin-bottom rem(5px)
@media tablet-portrait
  section.work
    .u-centered-content
      height 100vh
