section.work
  background-color dark-white
  .u-centered-content
    height 100%
  .text
    center(35%)
  p.sub-section
    margin-bottom rem(25px)
    cf()
  h5
    margin-bottom rem(10px)
  p.description
    margin-bottom rem(30px)
