section.home
  background-color darkest-grey
  overflow hidden
  opacity 1
  background url(/videos/mmm.gif) no-repeat center center fixed
  background-size cover
  animation fadeIn .5s .2s
  svg
    position relative
    center(75%)
    margin-bottom rem(50px)
  .text
    animation fadeIn 1s 1.5s
    color m-grey
  h2
    font-size fontSize-small
    margin-bottom 0
[ng-cloak].loading
  display block !important
.loading
  display none
  background-color white
  opacity 1
  animation spin 1.5s 0s infinite linear
  img
    width 2.5%
    min-width 25px
    max-width 50px
  .u-centered-content
    width 100%
    height 100%
@media mobile
  section.home
    svg
      center(45%)
