section.home
  background-color darkest-grey
  overflow hidden
  opacity 1
  background url(/videos/mmm.gif) no-repeat center center fixed
  background-size cover
  animation fadeIn .5s .2s
  svg
    position relative
    center(75%)
    margin-bottom rem(50px)
  .text
    animation fadeIn 1s 1.5s
    color m-grey
  h2
    font-size fontSize-small
    margin-bottom 0
@media mobile
  section.home
    svg
      center(45%)
