section.me
  padding 0 60px
  background-color dark-white
  figure,
  .text
    height 100%
  figure
    background-image url("/images/manfred-background.png")
    background-size 60%
    background-position center bottom
    background-repeat no-repeat
    col(1/3)
    margin-right 0
  .text
    display flex
    align-items center
    justify-content center
    col(2/3)
    figure
      display none
  .content
    width 90%
  a
    text-decoration none
    position relative
    &:after
      content ''
      position absolute
      top 100%
      left 0
      width 100%
      height 1px
      background dark-grey
      opacity 0
      transition opacity .3s, transform .3s
      transition-property opacity, transform
      transition-duration .3s, .3s
      transform translateY(10px)
    &:hover:after,
    &:focus:after
      opacity 1
      transform translateY(0px)
@media mobile-tablet
  section.me
    padding 0 50px
    h2
      margin-bottom rem(30px)
@media mobile-tablet-portrait
  section.me
    figure
      display none
    .content
      margin-top 20%
      width 100%
    .text
      display inline-block
      width 100% !important
      figure
        width 100%
        margin-top 5%
        display block
        background-position center top
        background-size 68%
@media mobile-tablet-landscape
  section.me
    figure
      col(1/4)
      background-size 70%
    .text
      col(3/4)
