// Type imports // -------------------
@font-face
  font-family 'Raleway Thin'
  src url('/fonts/raleway-thin-webfont.woff2') format('woff2'),
      url('/fonts/raleway-thin-webfont.woff') format('woff')
  font-weight normal
  font-style normal
@font-face
  font-family 'Raleway Regular'
  src url('/fonts/raleway-regular-webfont.woff2') format('woff2'),
      url('/fonts/raleway-regular-webfont.woff') format('woff')
  font-weight normal
  font-style normal
@font-face
  font-family 'Raleway Bold'
  src url('/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
      url('/fonts/raleway-extrabold-webfont.woff') format('woff')
  font-weight normal
  font-style normal
// Types // --------------------------
type-raleway--thin    = 'Raleway Thin', Helvetica, sans-serif
type-raleway--regular = 'Raleway Regular', Helvetica, sans-serif
type-raleway--bold    = 'Raleway Bold', Helvetica, sans-serif
// Sizes // --------------------------
fontSize-micro    = .5em
fontSize-smallest = .625em
fontSize-smaller  = .75em
fontSize-small    = .875em
fontSize-base     = 1em
fontSize-large    = 1.25em
fontSize-larger   = 1.5em
fontSize-largest  = 2em
fontSize-jumbo    = 2.5em
// Font weights // -------------------
fontWeight-2 = 200
fontWeight-3 = 300
fontWeight-4 = normal
fontWeight-5 = 500
fontWeight-6 = 600
fontWeight-7 = 700
fontWeight-8 = 800
fontWeight-9 = 900
// Line heights // -------------------
lineHeight-tightest = .7
lineHeight-tighter  = .8
lineHeight-tight    = .9
lineHeight-base     = 1
lineHeight-loose    = 1.2
lineHeight-looser   = 1.4
// Letter spacing // -----------------
letterSpacing-smaller = -1px
letterSpacing-small   = -0.5px
letterSpacing-base    = 0
letterSpacing-large   = 0.5px
letterSpacing-larger  = 1px
// Header styles // ------------------
h1,
h2
  font-family type-raleway--regular
h1
  margin-bottom 15px
h2
  margin-bottom rem(50px)
  letter-spacing letterSpacing-large
p
  line-height lineHeight-loose
h4
  margin-bottom rem(5px)
h5
  margin-bottom rem(50px)
