section.can(ng-show="isCurrentPage('can')")
  .skills-table(ng-controller="canIUseController")
    .header.u-centered
      label {{ pages[currentPage].title }}
      input(ng-model="searchSkill" placeholder="skill (ask me for html or js)" align="middle")
      span.question ?
    .content
      .all-families(ng-hide="currentSkill")
        ul
          li.family(ng-repeat="family in families | filter:searchSkill")
            h4.u-uppercase {{ family.name }}
            ul.skills
              li(ng-repeat="skill in family.skills")
                a(ng-click="showLevel(skill)") {{ skill.name }}
        p.hint * This table may be updated. Each day we should go to sleep having learned something new.
      .skill-level(ng-show="currentSkill")
        a.back(ng-click="goBack()")
          i.fa.fa-angle-left
          span back
        .skill-content
          h5.u-uppercase.u-centered
            | {{ currentSkill.name }}
            span.level level:
            span.number {{ currentSkill.level }}
          ol.levels
            li.level(ng-repeat="level in [1,2,3,4,5,6,7,8,9,10]" ng-class="{ completed: isCompleted(level) }")
        p.hint * All levels are approximate because I do not know everything.
