section.can(ng-show="isCurrentPage('can')")
  .skills-table(ng-controller="canIUseController")
    .header
      h3 {{ pages[currentPage].title }}
      input(ng-model="searchSkill" placeholder="skill")
      span ?
    .content
      p search by: {{ searchSkill }}
      .family(ng-repeat="family in families | filter:searchSkill")
        h4.u-uppercase {{ family.name }}
        ul(ng-repeat="skill in family.skills | filter:searchSkill")
          li {{ skill.name }} {{ skill.level }}
