section.can(ng-show="isCurrentPage('can')")
  .skills-table(ng-controller="canIUseController")
    .header.u-centered
      label {{ pages[currentPage].title }}
      input(ng-model="searchSkill" placeholder="skill (ask me for html or js)" align="middle")
      span.question ?
    .content
      .family(ng-repeat="family in families | filter:searchSkill" ng-hide="currentSkill")
        h4.u-uppercase {{ family.name }}
        ol
          li(ng-repeat="skill in family.skills")
            a(ng-click="showLevel(skill)") {{ skill.name }}
        p.hint.u-italic * This table may be updated. Each day we should go to sleep having learned something new.
      .skill-level(ng-show="currentSkill")
        a.back(ng-click="goBack()")
          i.fa.fa-angle-left
          span back
        h5.u-uppercase {{ currentSkill.name }}
        p Level: {{ currentSkill.level }}
        p.hint.u-italic * All levels are approximate because I do not know everything.
