section.contact
  .u-centered-content
    .text.tac
      h2.ttu.fw-5.fs-largest Let's talk
      a.mail(href="mailto:manfredmiravitllasmas@gmail.com" target="_top") manfredmiravitllasmas@gmail.com
      p
        span You can see my complete curriculum
        a(href="/pdfs/manfred-cv.pdf" target="_blank") here
        span .
      ul.social
        li
          a(href="https://www.linkedin.com/pub/manfred-miravitllas" target="_blank")
            i.fa.fa-linkedin
        li
          a(href="https://github.com/manfredmmm" target="_blank")
            i.fa.fa-github
        li
          a(href="https://twitter.com/manfredmmm" target="_blank")
            i.fa.fa-twitter
        li
          a(href="http://manfredmmm.tumblr.com/" target="_blank")
            i.fa.fa-tumblr
        li
          a(href="https://instagram.com/manfredmmm/" target="_blank")
            i.fa.fa-instagram
