head
  title manfredmmm
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  link(rel="stylesheet" href="/css/application.css")
  link(rel="shortcut icon" type="image/png" href="/images/icons/mmm-favicon.png")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
