head
  title manfredmmm - front end developer
  meta(name="description" content="I'm manfred miravitllas mas - front end developer. I love searching innovative ways on web, looking for a friendly and direct interaction between application and user, all of that with the best image of the site.")
  meta(name="keywords" content="front end developer, web developer, web designer, frontend developer, angularjs developer, javascript developer, web developer barcelona, frontend developer barcelona")
  meta(property="fb:app_id" content="302184056577324")
  meta(property="og:title" content="manfredmmm - I do websites")
  meta(property="og:description" content="I'm manfred miravitllas mas - front end developer. I love searching innovative ways on web, looking for a friendly and direct interaction between application and user, all of that with the best image of the site.")
  meta(property="og:site_name" content="manfredmmm")
  meta(property="og:url" content="http://manfredmmm.com")
  meta(property="og:type" content="website")
  meta(property="og:image" content="http://manfredmmm.com/images/manfred-background.png")
  meta(name="twitter:title" content="manfredmmm - I do websites")
  meta(name="twitter:description" content="I'm manfred miravitllas mas - front end developer. I love searching innovative ways on web, looking for a friendly and direct interaction between application and user, all of that with the best image of the site.")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:site" content="manfredmmm")
  meta(name="twitter:image" content="http://manfredmmm.com/images/manfred-background.png")
  meta(name="twitter:domain" content="http://manfredmmm.com")
  link(rel="shortcut icon" type="image/png" href="/images/icons/mmm-favicon.png")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
