section.home.u-centered-content
  .content
    svg(id="home-icon" x="0px" y="0px" width="200px" height="125px" viewBox="0 0 688 438" enable-background="new 0 0 688 438" preserveAspectRatio="xMinYMin meet")
      path(fill="none" stroke="#F7F7F7" stroke-width="8" stroke-miterlimit="10" d="M39.899,388.684L242.796,39.625")
      path(fill="none" stroke="#F7F7F7" stroke-width="8" stroke-miterlimit="10" d="M242.899,39.684L445.49,389.199")
      path(fill="none" stroke="#F7F7F7" stroke-width="8" stroke-miterlimit="10" d="M343.646,213.5L445.979,39.625")
      path(fill="none" stroke="#F7F7F7" stroke-width="8" stroke-miterlimit="10" d="M445.979,39.625L647.205,389.2")
      path(fill="none" stroke="#F7F7F7" stroke-width="8" stroke-miterlimit="10" d="M647.205,389.199c-1.194,0-607.307,0.031-607.307,0.031")
      path(fill="none" stroke="#F7F7F7" stroke-width="8" stroke-miterlimit="10" d="M35.149,179.059h618.332")
    .text.tac
      h1.fw-7
        span.u-bold.fs-jumbo Hi!
        |  I'm manfred miravitllas mas
      h2.fs-largest.fw-6 front end developer
