doctype html
html
  head
    title manfredmmm
    link(rel="stylesheet" href="/css/application.css")
  body
    img(src="images/manfred.jpg")
    h1
      span manfred
      br
      span miravitllas
      br
      span mas
