doctype html
html
  head
    title manfredmmm
    link(rel="stylesheet" href="/css/application.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    meta(charset="UTF-8")
  body
    section.content.front
      .container
        h1.u-centered manfred miravitllas mas
    section.content.me
      .container
        h1.u-centered me
    section.content.cat
      .container
        h2.u-centered cat
    section.content.car
      .container
        h2.u-centered car
    section.content.dino
      .container
        h2.u-centered dinosaurs
    section.content.kelly
      .container
        h2.u-centered kelly
    section.content.montserrat
      .container
        h2.u-centered montserrateta
    section.content.contact
      .container
        ul.social
          li
            a(href="https://twitter.com/manfredmmm" target="_blank")
              i.fa.fa-twitter
          li
            a(href="https://www.linkedin.com/pub/manfred-miravitllas" target="_blank")
              i.fa.fa-linkedin
          li
            a(href="https://github.com/manfredmmm" target="_blank")
              i.fa.fa-github
