doctype html
html
  include head
  body(ng-app="mApp" ng-strict-di ng-controller="sectionsController")
    include navigation
    .frame
      ul.pages
        li.item-0
          include home
        li.item-1
          include me
        li.item-2
          include can
        li.item-3
          include contact
    script(src="/js/application.js")
