doctype html
html
  include head
  body(ng-app="mApp" ng-strict-di ng-controller="sectionsController")
    include navigation
    .frame
      ul.pages
        li
          include home
        li
          include me
        li
          include can
        li
          include contact
    script(src="/js/application.js")
