doctype html
html
  include head
  body(ng-app="mApp" ng-strict-di ng-controller="sectionsController")
    include navigation
    include home
    include me
    include can
    include contact
    include social
    script(src="/js/application.js")
