section.me
  figure
  .text
    .content
      h2.ttu.fw-5.fs-largest Biography
      p.fw-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit vitae risus eget dapibus. Donec risus urna, laoreet at nisl in, rutrum fringilla eros. Donec in dui ornare, venenatis libero at, ornare nisl. Morbi quis vulputate erat, in vehicula magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus metus massa, scelerisque sit amet aliquam quis, aliquet porta nisi. Nulla facilisi.
    figure
