section.me
    figure
    .text
      .content
        h2.ttu.fw-5.fs-largest Biography
        p.fw-4 Born in Manresa, Barcelona, in 1986. Since I was young, computers and technology have fascinated me. This early passion brought me, in 2004, to start a degree in Computer Science. On the last year of my academic stage, I combined the studies with my first laboral experience at a consultant company. After finishing them, I started working as a freelance, first at <a class="m-grey" href="http://imesmes.com" target="_blank">imesmes.com</a> and, then, at <a class="m-grey" href="http://adverway.com" target="_blank">adverway.com</a>, company of which I've also been a partner.
        br
        p.fw-4 I've always worked on web projects, but I found my main motivations in the front end technologies. As a developer, I love searching innovative ways on web applications, looking for a friendly and direct interaction between application and user.
      figure
