a.home.z-index10(href="http://localhost:8080" ng-class="currentPageStyle" ng-hide="isCurrentPage('home')")
.menu
  a.burger.z-index10(ng-click="toggleMenu()" ng-class="currentPageStyle" ng-show="!menuActive")
  .options.z-index10(ng-class="{ active: menuActive }")
    a.close(ng-click="toggleMenu()" ng-show="menuActive")
      img(ng-src="/images/icons/close.svg")
    nav
      ul.nav
        li.active(ng-repeat="page in pages")
          a(ng-click="goTo($index)" ng-class="{ active: isCurrentPage(page.name) }") 
            span.binary {{ page.binary }}
            span - {{ page.title }}
a.nav.nav-previous.z-index10(ng-class="currentPageStyle" ng-hide="isCurrentPage('home')")
  h6 {{ pages[currentPage-1].binary }} - {{ pages[currentPage-1].title }}
a.nav.nav-next.z-index10(ng-class="currentPageStyle" ng-hide="isCurrentPage('contact')")
  h6(ng-hide="isCurrentPage('home')") 
    | {{ pages[currentPage+1].binary }} - {{ pages[currentPage+1].title }}
