.menu.z-index10(ng-controller="sidebarController")
  a.burger.z-index10(ng-click="toggleSidebar()" ng-show="!sidebarActive" href)
    img(ng-src="/images/icons/burger.svg")
  .sidebar.z-index10(ng-class="{ active: sidebarActive }")
    a.close(ng-click="toggleSidebar()" ng-show="sidebarActive" href)
      img(ng-src="/images/icons/close.svg")
    nav
      ul.nav
        li.active(ng-repeat="page in pages")
          a(ng-click="goTo($index)" ng-class="{ active: isCurrentPage(page.name) }" href) {{ page.name }}
