section.social(ng-show="isCurrentPage('social')")
  .u-centered-content
    ul.social
      li
        a(href="https://www.linkedin.com/pub/manfred-miravitllas" target="_blank")
          i.fa.fa-linkedin
      li
        a(href="https://twitter.com/manfredmmm" target="_blank")
          i.fa.fa-twitter
      li
        a(href="http://manfredmmm.tumblr.com/" target="_blank")
          i.fa.fa-tumblr
      li
        a(href="https://github.com/manfredmmm" target="_blank")
          i.fa.fa-github
