section.work
  .u-centered-content
    .text
      h2.ttu.fw-5.fs-largest Experience
      p.sub-section.ttu.fs-smaller Currently
      h4.fw-4
        span.com.fw-7.m-grey Freelancer
        span - Web developer and designer
      p.description.fs-smaller
      p.sub-section.ttu.fs-smaller Previously
      h4.fw-4
        a(href="http://adverway.com" target="_blank").fw-7.m-grey Adverway
        span - Partner, web developer and designer
      p.description.fs-smaller Platform to create branded games playable on web, mobile and Facebook
      h4.fw-4
        a(href="http://imesmes.com" target="_blank").fw-7.m-grey imesmes
        span - Web developer
      p.description.fs-smaller
        | Websites, social media campaigns and Facebook applications for agencies and final customers
        br
        | Development of application to create text, image or video Facebook contests templates
      h4.fw-4
        a(href="http://i3dat.com" target="_blank").fw-7.m-grey i3dat
        span - Web and desktop developer
      p.description.fs-smaller Internal applications to improve the productivity and processes’ automation
