section.work
  .u-centered-content
    .text
      h2.u-uppercase Experience

      p.sub-section.u-uppercase.fs-smaller Currently
      h5 
        span Freelance
        span - Web developer and designer
      p.description.fs-smaller.fw-6.m-grey Platform to create branded games playable on web, mobile and Facebook

      p.sub-section.u-uppercase.fs-smaller Previously
      h5 
        a(href="http://adverway.com" target="_blank") Adverway
        span - Partner, web developer and designer
      p.description.fs-smaller.fw-6.m-grey Platform to create branded games playable on web, mobile and Facebook
      h5
        a(href="http://imesmes.com" target="_blank") imesmes
        span - Web developer
      p.description.fs-smaller.fw-6.m-grey Platform to create branded games playable on web, mobile and Facebook
      h5 
        a(href="http://i3dat.com" target="_blank") i3dat
        span - Web and desktop developer
      p.description.fs-smaller.fw-6.m-grey Platform to create branded games playable on web, mobile and Facebook
