vendors = official
// Fade In // ------------------------------
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// Fade In Up // --------------------------
@keyframes fadeInUp {
  0% {
    opacitu: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
// Fade In Left // --------------------------
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// Fade In Right // --------------------------
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// Border bottom // -------------------------
@keyframes borderBottom {
  0% {
    visibility hidden
    transform scaleX(0)
  }
  100% {
    visibility visible
    transform scaleX(1)
  }
}
// Generic animation mixin // -------------
animation(animation, duration = .5s, delay = 0s, iteration = 1, function = ease-in)
  animation-name animation
  animation-duration duration
  animation-delay delay
  animation-iteration-count iteration
  animation-timing-function function
  animation-fill-mode both
