//$keyframe-name = foo
//@keyframes {$keyframe-name} {
//  from {
//    color: black
//  }
//  to {
//    color: white
//  }
//}

// Generic animation mixin // -------------
//animation(animation, duration: 1s, delay: 0s, iteration: 1, function: ease-in)
//  animation-name animation
//  animation-duration duration
//  animation-delay delay
//  animation-iteration-count iteration
//  animation-timing-function function
//  animation-fill-mode both
