@import 'reset';
@import 'fonts';
@import 'colors';

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

html, body {
  background-color: @beige;
  font-size: 16px;
  font-family: 'Source Sans Light';
  color: @grey;
  height: 100%;
}

img {
  border-radius: 500px;
  width: 170px;
  height: 170px;
  float: left;
  .clearfix;
}

.right {
  float: left;
  margin-left: 1.25em;
  .clearfix;
}

h1 {
  font-family: 'Source Sans Light';
  text-align: left;
  font-size: 1.8em;
  font-weight: 400;
}

.u-centered {
  text-align: center;
}

.inner {
  width: 325px;
  margin: 0 auto;
}

.u-complete-centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.social {
  li {
    display: inline;
    margin-right: 10px;
    text-align: center;
  }
}

a {
  display: inline-block;
  color: @beige;
  width: 30px;
  height: 30px;
  background-color: @grey;
  border-radius: 30px;
  font-size: 1.3em;
  line-height: 35px;
}
