// Greys // ------------------------------
darkest-grey = rgb(28, 28, 28)
dark-grey    = rgb(93, 93, 93)
my-grey      = rgb(156, 155, 158)
light-grey   = rgb(208, 208, 208)
// Brown // ------------------------------
my-brown     = rgb(102, 97, 99)
// Lights // ------------------------------
dark-white   = rgb(240, 240, 240)
