.u-centered
  text-align center
.u-italic
  font-style italic
.u-bold
  font-family type-raleway--bold
.u-jumbo
  font-size fontSize-jumbo
.u-uppercase
  text-transform uppercase
.u-centered-content
  display flex
  align-items center
  justify-content center
.fw-7
  font-weight fontWeight-7
.fw-6
  font-weight fontWeight-6
.fw-5
  font-weight fontWeight-5
.fw-4
  font-weight fontWeight-4
.fs-smallest
  font-size fontSize-smallest
.fs-smaller
  font-size fontSize-smaller
.fs-small
  font-size fontSize-small
.fs-base
  font-size fontSize-base
.fs-large
  font-size fontSize-large
.fs-larger
  font-size fontSize-larger
.fs-largest
  font-size fontSize-largest
.fs-jumbo
  font-size fontSize-jumbo
.darkest-grey
  color darkest-grey
.dark-grey
  color dark-grey
.m-grey
  color m-grey
.light-grey
  color light-grey
.lightless-grey
  color lightless-grey
.dark-white
  color dark-white
.white
  color m-white
