.u-centered
  text-align center
.u-italic
  font-style italic
.u-bold
  font-family type-raleway--bold
.u-jumbo
  font-size fontSize-jumbo
.u-uppercase
  text-transform uppercase
.u-centered-content
  display flex
  align-items center
  justify-content center
