@font-face
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular-webfont-webfont.eot');
  src: url('/fonts/Montserrat-Regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Montserrat-Regular-webfont-webfont.woff2') format('woff2'),
       url('/fonts/Montserrat-Regular-webfont-webfont.woff') format('woff'),
       url('/fonts/Montserrat-Regular-webfont-webfont.ttf') format('truetype'),
       url('/fonts/Montserrat-Regular-webfont-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
