body
  font-size 16px
  font-family type-raleway--thin
  color dark-grey
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color white
*
  box-sizing border-box
a.home
  &.white
    background-image url('/images/icons/mmm-triangles-white.svg')
  &.black
    background-image url('/images/icons/mmm-triangles-black.svg')
  background-size 100%
  background-repeat no-repeat
  background-position center
  position fixed
  top 15px
  left 20px
  width 30px
  height 20px
  display block
  animation fadeIn
a.right
  position absolute
  right 55px
  top calc(50vh - 8px)
  display inline-block
  opacity 0
a.nav
  position absolute
  width 40px
  height calc(100vh - 100px)
  top 50px
  background-repeat no-repeat
  background-size 100%
  animation fadeIn
  background-size 100%
  line-height 35px
  cursor pointer
  h6
    position absolute
    top 60vh
    width 210px
    height 30px
    opacity 0
a.next
  right 10px
  background-position center right
  &.black
    background-image url('/images/icons/right-black.svg')
  &.white
    background-image url('/images/icons/right-white.svg')
    h6
      color m-white
  &:hover
    h6
      animation fadeIn .2s 0s
  h6
    right -90px
    transform rotate(90deg)
a.previous
  left 10px
  background-position center left
  &.black
    background-image url('/images/icons/left-black.svg')
  &.white
    background-image url('/images/icons/left-white.svg')
    h6
      color m-white
  &:hover
    h6
      animation fadeIn .2s 0s
  h6
    left -90px
    transform rotate(-90deg)
    text-align right
.sidebar
  position absolute
  width 100%
  height 100%
  top -1600px
  background-color rgb(m-white)
  transition-duration .4s
  set-font-size(28px)
  display flex
  align-items center
  justify-content center
  &.active
    top 0
  a
    color m-grey
    text-decoration none
    display block
    border-bottom 1px solid transparent
    transition-duration .2s
  a:hover
    color darken(m-grey, 25%)
  a.active
    border-bottom 1px solid m-grey
  li
    transition-duration .4s
    margin-bottom: 5px
  span.binary
    width 58px
    display inline-block
a.burger,
a.close
  position fixed
  top 15px
  right 20px
  width 20px
  height 20px
  display block
  animation fadeIn
a.burger
  background-size 100%
  background-repeat no-repeat
  background-position center
  &.white
    background-image url('/images/icons/burger-white.svg')
  &.black
    background-image url('/images/icons/burger-black.svg')
