html
  font-size 16px
  font-family "Raleway Thin"
  color light-grey
  height 100%
  text-rendering optimizelegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color m-white
a.home
  &.white
    background-image url('/images/icons/mmm-triangles-white.svg')
  &.black
    background-image url('/images/icons/mmm-triangles-black.svg')
  background-size 100%
  background-repeat no-repeat
  background-position center
  position fixed
  top 15px
  left 20px
  width 30px
  height 20px
  display block
  animation fadeIn
a.nav
  width 40px
  height 50px
  position fixed
  top calc(50% - 25px)
  background-repeat no-repeat
  background-size 100%
a.next
  right 0
  &.black
    background-image url('/images/icons/right-black.svg')
  &.white
    background-image url('/images/icons/right-white.svg')
a.previous
  left 0
  &.black
    background-image url('/images/icons/left-black.svg')
  &.white
    background-image url('/images/icons/left-white.svg')
.sidebar
  position absolute
  width 100%
  height 100%
  top -1600px
  background-color rgb(m-white)
  transition-duration .4s
  set-font-size(28px)
  display flex
  align-items center
  justify-content center
  &.active
    top 0
  a
    color m-grey
    text-decoration none
    display block
    border-bottom 1px solid transparent
    transition-duration .2s
  a:hover
    color darken(m-grey, 25%)
  a.active
    border-bottom 1px solid m-grey
  li
    transition-duration .4s
    margin-bottom: 5px
  span.binary
    width 58px
    display inline-block
a.burger,
a.close
  position fixed
  top 15px
  right 20px
  width 20px
  height 20px
  display block
  animation fadeIn
  img
    width: 100%
