// Media queries ranges // ----------------------
small-min   =  0px
small-max   =  640px
medium-min  =  641px
medium-max  =  1024px
large-min   =  1025px
large-max   =  1199px
xlarge-min  =  1200px
xlarge-max  =  1599px
xxlarge-min =  1600px
// Devices // -----------------------------------
mobile                  = 'screen and (min-width: small-min) and (max-width: small-max)'
mobile-portrait         = 'screen and (min-width: small-min) and (max-width: small-max) and (orientation: portrait)'
mobile-landscape        = 'screen and (min-width: small-min) and (max-width: small-max) and (orientation: landscape)'
tablet                  = 'screen and (min-width: medium-min) and (max-width: medium-max)'
mobile-tablet           = 'screen and (min-width: small-min) and (max-width: medium-max)'
tablet-portrait         = 'screen and (min-width: medium-min) and (max-width: medium-max) and (orientation: portrait)'
tablet-landscape        = 'screen and (min-width: medium-min) and (max-width: medium-max) and (orientation: landscape)'
mobile-tablet-portrait  = 'screen and (min-width: small-min) and (max-width: medium-max) and (orientation: portrait)'
mobile-tablet-landscape = 'screen and (min-width: small-min) and (max-width: medium-max) and (orientation: portrait)'
desktop                 = 'screen and (min-width: large-min) and (max-width: large-max)'
xdesktop                = 'screen and (min-width: xlarge-min) and (max-width: xlarge-max)'
xxdesktop               = 'screen and (min-width: xxlarge-min)'
