section
  background-size cover
  background-position center
  width 100vw
  height 100vh
  overflow hidden
section.home
  top 0
  left 0
  background-color darkest-grey
  background-size cover
  svg
    position absolute
    top 30%
    left 50%
    width 20%
    margin-left -12%
    margin-top -12%
    min-width 175px
  .text
    position absolute
    width 100%
    height 125px
    padding-top 25px
    bottom 5%
    opacity 0
    animation fadeInUp .75s 1.5s
  .u-bold
    margin-right 10px
  video
    position fixed
    top 50%
    left 50%
    min-width 100%
    min-height 100%
    width auto
    height auto
    transform translateX(-50%) translateY(-50%)
    -webkit-transform: translateX(-50%) translateY(-50%)
    animation fadeIn 3s .75s
section.me
  background-color m-white
  animation fadeInRight .4s .2s
  img,
  .text
    col(1/2)
  .text
    margin-top 37%
section.can
  background-color m-white
  animation fadeInRight .4s .2s
section.contact
  background-color darkest-grey
  animation fadeInRight .4s .2s
section.social
  background-color darkest-grey
  animation fadeInRight .4s .2s
ul.social
  li
    display inline
    margin-right 10px
    text-align center
  a
    display inline-block
    color darkest-grey
    width 30px
    height 30px
    background-color dark-grey
    border-radius 30px
    line-height 32px
