section
  width 100%
  height 100vh
  background-size cover
  background-position center
section.front
  top 0
  left 0
  img
    position absolute
    top 45%
    left 40%
    width 15%
  video
    position fixed
    top 50%
    left 50%
    min-width 100%
    min-height 100%
    width auto
    height auto
    transform translateX(-50%) translateY(-50%)
    -webkit-transform: translateX(-50%) translateY(-50%)
    background-color red
    background-size cover
  h1
    position absolute
    font-size .8em
    bottom 10%
    left 40%
section.me
  background-image url('/images/me.jpg')
section.cat
  background-image url('/images/cat.jpg')
section.car
  background-image url('/images/car.jpg')
section.dino
  background-image url('/images/dinosaur.jpg')
section.kelly
  background-image url('/images/kelly.jpg')
  background-position center bottom
section.montserrat
  background-position center bottom
  background-image url('/images/montserrat.jpg')
section.contact
  background-color darkest-grey
.social
  li
    display inline
    margin-right 10px
    text-align center
  a
    display inline-block
    color darkest-grey
    width 30px
    height 30px
    background-color dark-grey
    border-radius 30px
    line-height 32px
