zIndex1  = 1
zIndex2  = 2
zIndex3  = 3
zIndex4  = 4
zIndex5  = 5
zIndex6  = 6
zIndex7  = 7
zIndex8  = 8
zIndex9  = 9
zIndex10 = 10
.z-index1
  z-index: zIndex1
.z-index2
  z-index: zIndex2
.z-index3
  z-index: zIndex3
.z-index4
  z-index: zIndex4
.z-index5
  z-index: zIndex5
.z-index6
  z-index: zIndex6
.z-index7
  z-index: zIndex7
.z-index8
  z-index: zIndex8
.z-index9
  z-index: zIndex9
.z-index10
  z-index: zIndex10
